@model BeeBack.Web.ViewModels.Activities.ActivityViewModel

<h3>Détail de l'activité</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    <hr />
</div>

<div>
    <p>
        <a class="btn btn-xs btn-embossed btn-primary view" role="button" href="@Url.Action("Index")">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retourner à la liste
        </a>

        <a class="btn btn-xs btn-embossed btn-info view" role="button" href="@Url.Action("Edit", new {id = Model.Id})">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Modifier l'activité
        </a>

        <a class="btn btn-xs btn-embossed btn-danger view" role="button" href="@Url.Action("Edit", new {id = Model.Id})">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer l'activité
        </a>
    </p>
</div>

