@model BeeBack.Web.ViewModels.Activities.ActivitiesIndexViewModel

<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Liste des activités</h2>
        <a class="btn btn-success btn-embossed btn-large view" href="/activities/create">
            <i class="fa fa-plus"></i> Ajouter
        </a>
    </div>
</div>

<div class="row">

    @{
        var subscriptions = Model.Activities.Where(a => a.IsSubscribed);
        var otherActivities = Model.Activities.Where(a => !a.IsSubscribed);
    }

    <h3>Abonnements</h3><br/>
    @foreach (var activity in subscriptions)
    {
        <div class="col-sm-4 wow fadeInDown text-center activity" style="margin-bottom: 36px">
            <img class="rotate" src="~/img/icon/@(activity.Icon).svg" alt="Generic placeholder image">
            <h3>@activity.Title</h3>
            <p class="lead">@activity.DescriptionExtract</p>

            <p>
                <a class="btn btn-embossed btn-primary view"
                   href="@Url.Action("Details", new {activity.Id})">
                    Voir les détails
                </a>

                <a class="btn btn-embossed btn-info view subscribe subscribe-remove" data-activityId="@activity.Id">
                    <i class="fa fa-heart-o"></i>
                    <i class="fa fa-heart"></i>
                </a>
            </p>
        </div><!-- /.col-lg-4 -->
    }
</div>

<div class="row">
    <h3>Autres activités</h3><br />
    @foreach (var activity in otherActivities)
    {
        <div class="col-sm-4 wow fadeInDown text-center activity" style="margin-bottom: 36px">
            <img class="rotate" src="~/img/icon/@(activity.Icon).svg" alt="Generic placeholder image">
            <h3>@activity.Title</h3>
            <p class="lead">@activity.DescriptionExtract</p>

            <p>
                <a class="btn btn-embossed btn-primary view"
                   href="@Url.Action("Details", new {activity.Id})">
                    Voir les détails
                </a>

                <a class="btn btn-embossed btn-info view subscribe subscribe-add" data-activityId="@activity.Id">
                    <i class="fa fa-heart-o"></i>
                    <i class="fa fa-heart"></i>
                </a>
            </p>
        </div><!-- /.col-lg-4 -->
    }

</div><!-- /.row -->
